@media only screen and (max-width: 600px) {
.cloth{
  display: block;
  text-align: center;
  background-color: #eee;
  color: black;
  padding: 12px;
  text-decoration: none;
  margin: auto;
  width: 100%;
  cursor: pointer;
  }
  #logo{
    text-align: center;
    width: 25%;
    margin-left:40%;
    background-color: black;
  }
  .cloth:hover{
    background-color: #A9A9A9;
  }
  img{
    width: 100%;
  }
  .tops{
    width: 35%;
    text-align: center;
    padding-left: 30%;

  }
  #tops2{
    text-align: center;
    color: black;

  }
  .item2{
    width: 35%;
    text-align: center;
    padding-left: 30%;
  }
  #Bottoms2{
    text-align: center;
    color: black;
  }
  .item3{
    width: 35%;
    text-align: center;
    padding-left: 30%;
  }
  #shoes{
    text-align: center;
    color: black;
  }
}
body{
  margin: auto;
  background-color: black;
<<<<<<< HEAD
=======
  background-size: 50%;
>>>>>>> cd14db8409d5e83d83a936d9fe4f6f01d75c97dc
  background: linear-gradient(180deg, black 20%, white 10%);
}

a{
  text-decoration: none;
  color: black;
}
@media only screen and (min-width: 600px) {
  .cloth{
    display: inline-block;
    color: white;
    background-color: white;
    padding: 10px;
  }
  #logo{
    width: 10%;
    background-color: black;
  }
  img{
    width: 100%;
  }
  header{
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
  }
  .tops{
    width: 45%;
  }
  .item2{
    width: 35%;
  }
  .item3{
    width: 35%;
  }
  .featuredItems{
    display: flex;
    justify-content: space-around;
    text-align: center;
    position: relative;
  }
  .cloth:hover{
    background-color: #A9A9A9;
  }
}
